@import "./_fonts";
@import "./_reset";
@import "./_functions";

// ### ident
$ident-xxxl: rem(40px);
$ident-xxl: rem(32px);
$ident-xl: rem(24px);
$ident-md: rem(16px);
$ident-xs: rem(12px);
$ident-xxs: rem(8px);
$desc-width: rem(1440px);
$mobile-width: rem(375px);

// ### colors 
$red: hsl(0, 78%, 62%);
$redfigma: hsl(351, 100%, 69%);
$cyan: hsl(332, 51%, 32%);
$bgwhite: hsl(0, 0%, 95%);
$white: hsl(0, 0%, 100%);
$orange: hsl(34, 97%, 64%);
$orangefigma: hsl(45, 100%, 50%);
$blue: hsl(212, 86%, 64%);
$blueFigma: hsl(212, 63%, 52%);
$veryDarkBlue:  hsl(234, 12%, 34%);
$grayishBlue: hsl(229, 6%, 66%);
$veryLightGray: hsl(0, 0%, 98%);
$myCyan: hsl(180, 62%, 55%);

// ### Fonts
$heading-font-40: rem(40px);
$heading-font-36: rem(36px);
$heading-font-28: rem(28px);
$subHeading-font-20: rem(20px);
$paragraph: rem(15px);

:root {
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:  center;
  background: $bgwhite;
  letter-spacing: 0.01em;
  padding: clamp(5rem, 5.4225rem + -0.4695vi, 5.3125rem) 32px 78px;
  color: $veryDarkBlue;
}
.title {
  text-align: center;
  max-width: rem(540px);
  margin-bottom: clamp(4rem, 5.0141rem + -1.1268vi, 4.75rem);

  &__sap {
    font-family: 'Poppins Thin';
    font-size: clamp(1.5rem, 1.2359rem + 1.1268vi, 2.25rem);
    line-height: 116%;
  }
  &__sub {
    font-family: 'Poppins SemiBold';
    font-size: clamp(1.5rem, 1.2359rem + 1.1268vi, 2.25rem);
    margin-bottom: $ident-md;
    line-height: 167%;
  }
  &__caption {
    font-size: $paragraph;
    line-height: 167%;
    color: inherit;
    opacity: 0.5;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  max-width: 1110px;
  gap: rem(30px);
  @media (max-width: 768px) {
    & {
      display: flex;
      flex-direction: column;
      gap: rem(25px);
    }
  }
}

.box {
  position: relative;
  border-radius: rem(8px);
  background: $white;
  padding: clamp(1.6875rem, 1.5775rem + 0.4695vi, 2rem);
  box-shadow: 0 15px 30px -11px rgba(131, 166, 210, 0.5);
  overflow: hidden;



  &__title {
    margin-bottom: clamp(0rem, -0.132rem + 0.5634vi, 0.375rem);
    font-weight: 600;
    font-size: $subHeading-font-20;
    color: #4d4f62;
  }

  &__subtitle {
    display: inline-block;
    margin-bottom: clamp(2.0625rem, 1.9085rem + 0.6573vi, 2.5rem);
    font-size: rem(13px);
    opacity: 0.5;
  }
  img {
    margin-left: auto;
  }

  &::before {
    content: '';
    width: 100%;
    background-color: $myCyan;
    height: 4px;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.box1 {
  grid-row: 2/4;
  grid-column: 1/2;

}
.box2 {
  grid-row: 1/3;
  grid-column: 2;
  &::before {
    background-color: $redfigma;
  }
}
.box3 {
  grid-row: 3/5;
  grid-column: 2;
  &::before {
    background-color: $orangefigma;
  }
}
.box4 {
  grid-row: 2/4;
  grid-column: 3;
  &::before {
    background-color: $blueFigma;
  }
}

